<!DOCTYPE html>
<html>
<head>
    <form action="/" method="post">
        <label for="Cafe Name">Cafe Name:</label><br>
        <input type="text" id="cafeName" name="cafe" ><br>
        <button>GO!</button>
      </form> 
</head>
<body>
    
</body>
</html>